<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo und Titel -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img ngSrc="assets/logo.png"
           alt="Logo"
           width="30"
           height="24"
           class="me-2"
           priority>
      MoodBoard AI
    </a>

    <!-- Toggle Button für Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Inhalt -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex ms-auto me-3" role="search">
        <input id="search-input" class="form-control me-2" type="search" placeholder="Mood Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">Profile/Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
