main {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  border: solid 2px black;
  h1{
    font-size:  30px;
  }
  h2{
    font-size: 24px;
  }
  .moodPanel, .moodboardCanvas, .assetsPanel{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1rem 2rem 0 2rem;

  }
  .moodboardCanvas{
    border: solid 2px black;
    margin: 1rem 0 1rem 0;
  }
  .assetsPanel {

    img{
      max-width: 50px;
      max-height: 100px;
      margin: 0.5rem 0;
    }
  }
  .colorPalette{
    border:  solid 2px black;
  }
}
