
<main>
  <div class="moodPanel">
    <h1>💬 Mood Panel</h1>
    <h2>Select Mood 👇</h2>
    <ul>
      <li (click)="setMood('happy')">Happy 😊</li>
      <li (click)="setMood('sad')">Sad 😢</li>
      <li (click)="setMood('neutral')">Neutral 😐</li>
      <li (click)="setMood('excited')">Excited 🤩</li>
      <li (click)="setMood('relaxed')">Relaxed 😌</li>
      <li (click)="setMood('angry')">Angry 😠</li>
      <li (click)="setMood('surprised')">Surprised 😲</li>
    </ul>
    <h2>Current Mood: {{ mood }}</h2>
<!--    <h2>AI Generate 🎲</h2>-->
<!--    <p>Your personal AI assistant for creating mood boards.</p>-->
  </div>
<!--  <div class="moodboardCanvas">-->
<!--    <h1>🎨 Moodboard Canvas</h1>-->
<!--    <p>Drag and drop your assets here to create your mood board.</p>-->
<!--  </div>-->
<!--  <div class="assetsPanel">-->
<!--    <h1>📦 Assets Panel</h1>-->
<!--    <h2>Images 🖼️</h2>-->
<!--    <img #imageRef id="image" alt="Random Mood Image">-->
<!--    <h2>Quotes 💬</h2>-->
<!--    <p> {{ quote }}</p>-->
<!--    <small>-{{ author }}</small>-->
<!--    <h2>Colors 🎨</h2>-->
<!--    <div #colorPalette id="colorPalette" class="colorPalette">-->
<!--      <p>-->
<!--        Color palette will appear here.-->
<!--        {{ colorPalette }}-->
<!--      </p>-->
<!--    </div>-->
    <h2>Music 🎵</h2>
    <button onclick="alert('Feature coming soon!')">Create a Mood Board</button>
<!--  </div>-->
</main>
