<main>

  <h1>Welcome to MoodBoard AI</h1>
  <div class="contentHome">
    <p class="text-center">
      Here you can feel free and start your own Moodboard. You don't now what mood or a board is.
      Let me explain it to you. To deeply understand the concept of a mood board,
      think of it as a visual representation of your feelings, ideas, and inspirations.
      It's like a collage that captures the essence of a particular mood or theme. You can use images, colors, quotes, and even music.
      to express how you feel or what you want to create.
    </p>
    <button><a routerLink="/dashboard" routerLinkActive="active">Try it out</a></button>
  </div>

</main>

